
*.pack
*.exe
*.afs
arc.ini
Serial.txt
help/
compress/switcher/dat/sound.md5
compress/switcher/dat/text.md5
compress/switcher/kitserver/
compress/switcher/switcher/
images/WizardImage2.bmp
images/3_in_1_dvd_cover.jpg
