compress/switcher/kitserver/
compress/switcher/switcher/
help/
output/

compress/text/low/
compress/text/high/

compress/srep.exe
compress/Arc.exe
compress/arc.ini
compress/precomp.exe
compress/sound.pack
compress/sound/0_sound.afs
compress/sound/e_sound.afs
compress/sound/x_sound.afs
compress/switcher/settings.exe
help/ReadMe.txt
help/Readme.rtf
compress/settings.exe
